<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6 class="white-text">Django Cars Site</h6>
        <p class="grey-text text-lighten-4">Website about cars built with Django.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 kampkelly
    <a class="grey-text text-lighten-4 right" href="#!">Cars</a>
    <a class="grey-text text-lighten-4 right" href="#!">Users</a>
    </div>
  </div>
</footer>
