{% extends 'cars/layouts/master.html' %}

{% block main_content %}
    <div class="container all_cars">
        {% if success_message %} <h5 class="green-text center">{{success_message}}</h5> {% endif %}
        <h4 class="center indigo-text">List of cars</h4>
        <div class="row">
            <div class="col l12 s12">
                <ul class="">
                {% for car in cars %}
                    <li class="collection-item avatar orange darken-1">
                    <span class="title black-text">Name: {{car.name}}</span>
                    <a href={% url "cars:view_car" car.id %} class="secondary-content indigo-text">View</a>
                    <p class="white-text">model: {{car.model}} <br>
                        colour: {{car.colour}}, year: {{car.year}}
                    </p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}